In [ ]:
# Analysis of all the unique triplets extracted

In [ ]:
!pip install pandas

In [1]:
import pandas as pd

In [2]:
sickle_cell_summary_path = "../../data/sickle_cell/summary_post_ontoGPT.tsv"

In [3]:
sickle_cell_summary_df = pd.read_csv(sickle_cell_summary_path, sep='\t')

In [6]:
sickle_cell_summary_df.tail()

,Citation,Subject,Subject Label,Non grounded Subject,Potential MAXO,Predicate,Object,Object Label,Non grounded Object,Potential HP,Qualifier,Qualifier Label,Non grounded Qualifier,Potential MONDO,Subject Qualifier,Subject Extension,Object Extension,Count
4391,34152394,NaN,NaN,calculation of exact red cell volume,[],treats,NaN,NaN,severe blood shortage,"[('HP:0012828', 'Severe'), ('HP:0012828', 'Sev...",mondo:0011382,sickle cell disease,NaN,[],NaN,NaN,NaN,1
4392,34152394,NaN,NaN,increasing the targeted end procedure hematocrit,[],treats,NaN,NaN,severe blood shortage,"[('HP:0012828', 'Severe'), ('HP:0012828', 'Sev...",mondo:0011382,sickle cell disease,NaN,[],NaN,NaN,NaN,1
4393,34152394,NaN,NaN,suppression of endogenous erythropoiesis,[],treats,NaN,NaN,severe blood shortage,"[('HP:0012828', 'Severe'), ('HP:0012828', 'Sev...",mondo:0011382,sickle cell disease,NaN,[],NaN,NaN,NaN,1
4394,34152394,NaN,NaN,red cell exchange (rce),[],treats,NaN,NaN,severe blood shortage,"[('HP:0012828', 'Severe'), ('HP:0012828', 'Sev...",mondo:0011382,sickle cell disease,NaN,[],NaN,NaN,NaN,1
4395,34152394,NaN,NaN,transfusing red cell units,[],treats,NaN,NaN,severe blood shortage,"[('HP:0012828', 'Severe'), ('HP:0012828', 'Sev...",mondo:0011382,sickle cell disease,NaN,[],based on precise red cell volume,NaN,NaN,1

In [5]:
sickle_cell_summary_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4396 entries, 0 to 4395
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Citation                4396 non-null   int64
 1   Subject                 457 non-null    object
 2   Subject Label           457 non-null    object
 3   Non grounded Subject    3939 non-null   object
 4   Potential MAXO          4396 non-null   object
 5   Predicate               4396 non-null   object
 6   Object                  731 non-null    object
 7   Object Label            731 non-null    object
 8   Non grounded Object     3656 non-null   object
 9   Potential HP            4396 non-null   object
 10  Qualifier               2734 non-null   object
 11  Qualifier Label         2734 non-null   object
 12  Non grounded Qualifier  1287 non-null   object
 13  Potential MONDO         4396 non-null   object
 14  Subject Qualifier       618 non-null    object
 15  Subject Extension       1888 non-null   object
 16  Object Extension        195 non-null    object
 17  Count                   4396 non-null   int64
dtypes: int64(2), object(16)
memory usage: 618.3+ KB